.progress-bar .bar {
    -fx-background-color: #d0c6f5; /* this line is the background color of the bar */
    -fx-background-radius: 100;
    -fx-border-color: black;
    -fx-border-radius:50;
    -fx-border-width: 3;
    -fx-pref-height: 30;
}

.progress-bar .track {
      -fx-background-color: linear-gradient(to top, #eabcab, #9bd7e1);
	-fx-background-insets:  0, 1;
	-fx-background-radius: 100;
}